.arrow {
    pointer-events: none;
    border-style: solid;
    display: inline-block;

    &.complete {
        width: 0;
        height: 0;
        border-width: 0.375rem;

        &.top {
            border-color: transparent transparent currentColor transparent;
            transform: translate(0.125rem, -0.25rem);
        }
        &.bottom {
            border-color: currentColor transparent transparent transparent;
            transform: translate(0.125rem, 0.25rem);
        }
        &.right {
            border-color: transparent transparent transparent currentColor;
            transform: translate(0.375rem, 0rem);
        }
        &.left {
            border-color: transparent currentColor transparent transparent;
            transform: translate(-0.125rem, 0rem);
        }
    }

    &.bordered {
        width: 0.5rem;
        height: 0.5rem;
        border-width: 0 0.125rem 0.125rem 0;

        &.bottom {
            transform: translateY(-60%) rotate(45deg);
        }
        &.left {
            transform: translateY(-60%) rotate(135deg);
        }
        &.right {
            transform: translateY(-60%) rotate(-45deg);
        }
        &.top {
            transform: translateY(-60%) rotate(-135deg);
        }
    }
}
