.switchBasic {
    cursor: pointer;
    padding: 0.25rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: transparent;
    display: inline-flex;
    align-items: center;

    &:focus,
    &:hover {
        border-color: #005a9c;
        outline: none;
    }
}
