.calendarCell {
    text-align: center;
    color: currentColor;
    min-width: 2.5rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid transparent;
    padding: 0.125rem;
    outline: none;
    cursor: default;

    &[aria-selected] {
        border: 0.125rem dotted #646464;
        padding: 0.625rem;
    }
    &[tabindex='0'] {
        border-style: solid;
        background-color: #1e6ee6;
        color: white;
    }
    &:hover:not([tabindex='0']) {
        border-color: #646464;
        background-color: #dae7fb;
    }
    &:focus {
        padding: 0.625rem;
        border-width: 0.125rem;
        border-color: #646464;
    }
}
