.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    background-color: #1e6ee6;
    padding: 0.4375rem;
    font-weight: bold;
    color: #fff;
}
