@use '../../../lib/measures.module' as measures;

.controls {
    z-index: 1;
    .btnPlayPause {
        &:not(.controlOut) {
            padding: calc(#{measures.$slideSpacing} * 2);
        }
        &.controlOut {
            align-self: center;
        }
    }

    display: flex;
    align-items: flex-start;
}

.playOrPause {
    fill: currentColor;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
