.screenReaderOnly {
    position: absolute;
    top: -2000em;
    left: -3000em;
}

.inputField {
    &:focus {
        outline: 0.125rem solid #005a9c;
        outline-offset: 0.0625rem;
    }
}

.description {
    position: absolute;
    left: 0;
    top: 100%;
}
