.menu {
    position: absolute;
    margin: 0;
    padding: 0.4375rem 0.25rem;
    border: 0.125rem solid #034575;
    border-radius: 0.3125rem;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;

    &.hide {
        display: none;
    }
    &.show {
        display: block;
    }
}
