.menuArrowBtn {
    margin: 0;
    padding: 0.375rem;
    position: relative;
    background-color: #034575;
    border: 0.0625rem solid #034575;
    color: white;
    border-radius: 0.3125rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0.5rem;

    &:hover,
    &:focus {
        outline: none;
        border-width: 0.1875rem;
        background-color: #eee;
        color: #222;
        padding: 0.25rem 0.375rem 0.25rem 0.25rem;
    }
}
.icon {
    &.icon {
        transform: translate(0.125rem, 0.125rem);
    }
}

.content {
    padding-right: 0.125rem;
}
