.menuItem {
    cursor: pointer;
    margin: 0;
    padding: 0.375rem;
    display: block;
    color: currentColor;
    border-radius: 0.3125rem;

    &:focus {
        padding: 0.25rem;
        border: 0.125rem solid #034575;
        background: #034575;
        color: #fff;
        outline: none;
        margin: 0;
    }
}
