.calendarHeading {
    display: inline-block;
    text-align: center;

    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1rem;
    color: white;
    text-transform: none;
    font-weight: bold;
    border: none;
}
